<!-- Index.cshtml -->

@model Messages

<h2>Gửi tin nhắn SMS</h2>

@using (Html.BeginForm("Send", "Sms", FormMethod.Post))
{
    @Html.LabelFor(m => m.ToPhoneNumber)
    @Html.TextBoxFor(m => m.ToPhoneNumber)
    @Html.ValidationMessageFor(m => m.ToPhoneNumber)
    <br />

    @Html.LabelFor(m => m.MessageText)
    @Html.TextAreaFor(m => m.MessageText, new { rows = 4, cols = 50 })
    @Html.ValidationMessageFor(m => m.MessageText)
    <br />

    <input type="submit" value="Gửi tin nhắn" />
}

@if (ViewBag.ResultMessage != null)
{
    <p>@ViewBag.ResultMessage</p>
}
