﻿@model List<Service>;
@{
    var cssClass = (string?)ViewBag.CssClass;
    var selectListItems = new List<SelectListItem>();
    foreach (var item in Model)
    {
        selectListItems.Add(new SelectListItem() { Value = item.Id.ToString(), Text = item.ServiceName });
    }

}
<label>Selecbox for Service Name</label>
<select class="@cssClass">
    @foreach (var item in Model)
    {
        <option>@item.ServiceName</option>
    }
</select>