﻿﻿@using SMS_Online.Repository
@inject IServiceRepository Service
@{
    ViewData["Title"] = "View";
    var result = Service.GetAll();

}

<h1>Service (@result.recordsTotal items)</h1>
<div>
    @await Component.InvokeAsync("SelectBoxService", new {cssClass = ""})
</div>
<div>
    <table class="table table-border">
        <thead>
            <tr>
                <td>Id</td>
                <td>ServiceName</td>
                <td>Description</td>
                <td>Price</td> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in result.data)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ServiceName</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>                   
                    <td>
                        <ul>
                            <li>Update</li>
                            <li>Delete</li>

                        </ul>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>